@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {

  --color-*: initial;
  --color-white: #DFE8D1;
  --color-rwhite: #FBFFF5;
  --color-lgreen: #72AB50;
  --color-llgreen: #a4dd83;
  --color-green: #45843A;
  --color-dgreen: #2C4C2B;
  --color-red: #c94343;
  --color-lred: #ebc6c6;




  --color-bermuda: #78dcca;

}
* {
  font-family: 'Montserrat', sans-serif;
}
