name: maize_watch
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  shared_preferences: ^2.5.3
  http: ^1.3.0
  
  icons_flutter: ^0.0.5
  google_fonts: ^6.2.1
  flutter_screenutil: ^5.9.3
  curved_navigation_bar: ^1.0.6
  syncfusion_flutter_charts: ^28.1.35
  flutter_local_notifications: ^19.1.0 
  permission_handler: ^12.0.0+1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/fonts/
    - assets/gif/
